<%= form_for @book, url: @book.id ? admin_book_path(@book) : admin_books_path,
  html: { class: 'form-horizontal' } do |f| %>

    <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= @book.errors.count %>つの入力間違いがあります:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :isbn, class: 'control-label' %>
    <div class="controls"><%= f.text_field :isbn %></div>
  </div>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls"><%= f.text_field :title, class: 'input-xlarge' %></div>
  </div>
  <div class="control-group">
    <%= f.label :author, class: 'control-label' %>
    <div class="controls"><%= f.text_field :author %></div>
  </div>
  <div class="control-group">
    <%= f.label :price, class: 'control-label' %>
    <div class="controls"><%= f.number_field :price %></div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, class: 'control-label' %>
    <div class="controls"><%= f.select :category_id, Category.order(:id).map{|c| [c.name, c.id]} %></div>
  </div>
  <div class="control-group">
    <%= f.label :display_order, class: 'control-label' %>
    <div class="controls"><%= f.number_field :display_order %></div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls"><%= f.text_area :description, rows: 10, class: 'input-xxlarge' %></div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to "戻る", admin_books_path, class: 'btn' %>
  </div>
<% end %>
