<div class="page-header">
  <h1>ショッピングカート</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">書籍</th>
      <th>価格</th>
      <th>数量</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= image_tag cart.book.icon_path %></td>
        <td><%= cart.book.title %></td>
        <td><%= yen cart.book.price %></td>
        <td><%= cart.quantity %></td>
        <td>
          <%= link_to "数量変更", edit_cart_path(cart), class: 'btn btn-mini' %>
          <%= link_to "削除", cart, method: :delete, data: { confirm: '削除して良いですか？' }, class: 'btn btn-mini' %>
         </td>
      </tr>
    <% end %>
      <tr>
        <th colspan="4">合計</th>
        <td colspan="1"><%= yen @total%></td>
      </tr>  
  </tbody>
</table>

<div class="row">
  <div class="span4 offset8">
    <%= link_to '購入', order_carts_path, method: :post, class: 'btn btn-large btn-primary' %>
    <%= link_to '戻る', root_path, class: 'btn btn-large' %>
  </div>
</div>